

<title>Covid 19 India Dashboard - {{ context['name']|safe }}</title>

<style>
.center {
    margin-left: auto;
    margin-right: auto;
    column-gap: 20px;
}

.center th {
    padding: 0 10px;
}

</style>

{% extends "base.html" %}

{% block content %}

    {% if 'form' in context %}

        <form action="" method="POST">
            {{ context['form'].csrf_token }}
            <p>
                {{ context['form'].state.label }} {{ context['form'].state }}
                <input type="submit" value="Search">
            </p>
        </form>

    {% endif %}

    {% if 'name' in context %}

        <h2 align="center">{{ context['name']|safe }}</h2>

        <div class="details" style="width:100%">
            <table class="center">
                <tr>
                    <th>
                        <h3>Total Active</h3>
                        <h3>{{ context['dataset']['Total Active'][-1] }}</h3>
                    </th>
                    <th>
                        <h3>Total Recovered</h3>
                        <h3>{{ context['dataset']['Total Recovered'][-1] }}</h3>
                    </th>
                    <th>
                        <h3>Total Deceased</h3>
                        <h3>{{ context['dataset']['Total Deceased'][-1] }}</h3>
                    </th>
                </tr>
                <tr>
                    <th>
                        <h3>Confirmed Yesterday</h3>
                        <h3>{{ context['dataset']['Confirmed'][-1] }}</h3>
                    </th>
                    <th>
                        <h3>Recovered Yesterday</h3>
                        <h3>{{ context['dataset']['Recovered'][-1] }}</h3>
                    </th>
                    <th>
                        <h3>Deceased Yesterday</h3>
                        <h3>{{ context['dataset']['Deceased'][-1] }}</h3>
                    </th>
                </tr>
            </table>
        </div>

        <div id="barCharts">
            <div id="confirmed">
                <canvas id="ConfirmedChart" height="100"></canvas>
            </div>
            <div id="seven_day_avg">
                <canvas id="SevenDayAvgChart" height="100"></canvas>
            </div>
            <div id="recovered">
                <canvas id="RecoveredChart" height="100"></canvas>
            </div>
            <div id="deceased">
                <canvas id="DeceasedChart" height="100"></canvas>
            </div>
        </div>
        <div id="lineChart">
            <canvas id="CumulativeChart" height="150"></canvas>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script>
            var ctx_confirmed = document.getElementById('ConfirmedChart').getContext('2d');
            var chart = new Chart(ctx_confirmed, {
                type: 'bar',
                data: {
                    labels: {{ context['dates']|safe }},
                    datasets: [{
                        label: 'Confirmed',
                        borderColor: 'rgb(219, 34, 18)',
                        borderWidth: 1.5,
                        backgroundColor: 'rgba(219, 34, 18, 0.1)',
                        data: {{ context['dataset']['Confirmed']|safe }}
                    }
                    ]
                },
                options: {
                    title: {
                        display: true,
                        position: 'left',
                        text: 'Confirmed cases by date',
                        fontSize: 22,
                        fontColor: 'rgb(219, 34, 18)'
                    }
                }
            });

            var ctx_seven_day_avg = document.getElementById('SevenDayAvgChart').getContext('2d');
            var chart = new Chart(ctx_seven_day_avg, {
                type: 'line',
                data: {
                    labels: {{ context['dates_seven_day_avg']|safe }},
                    datasets: [{
                        label: 'Seven Days Average New Cases',
                        borderColor: 'rgb(255, 153, 0)',
                        borderWidth: 1.5,
                        backgroundColor: 'rgba(255, 153, 0, 0.2)',
                        pointBorderWidth: 0.1,
                        data: {{ context['seven_day_avg']|safe }}
                    }
                    ]
                },
                options: {
                    title: {
                        display: true,
                        position: 'left',
                        text: 'Seven Days Average New Cases',
                        fontSize: 22,
                        fontColor: 'rgb(255, 153, 0)'
                    }
                }
            });

            var ctx_recovered = document.getElementById('RecoveredChart').getContext('2d');
            var chart = new Chart(ctx_recovered, {
                type: 'bar',
                data: {
                    labels: {{ context['dates']|safe }},
                    datasets: [{
                        label: 'Recovered',
                        borderColor: 'rgb(61, 130, 56)',
                        borderWidth: 1.5,
                        backgroundColor: 'rgba(61, 130, 56, 0.1)',
                        data: {{ context['dataset']['Recovered']|safe }}
                    }
                    ]
                },
                options: {
                    title: {
                        display: true,
                        position: 'left',
                        text: 'Recovered cases by date',
                        fontSize: 22,
                        fontColor: 'rgb(61, 130, 56)'
                    }
                }
            });

            var ctx_deceased = document.getElementById('DeceasedChart').getContext('2d');
            var chart = new Chart(ctx_deceased, {
                type: 'bar',
                data: {
                    labels: {{ context['dates']|safe }},
                    datasets: [{
                        label: 'Deceased',
                        borderColor: 'rgb(130, 117, 116)',
                        borderWidth: 1.5,
                        backgroundColor: 'rgba(130, 117, 116, 0.1)',
                        data: {{ context['dataset']['Deceased']|safe }}
                    }
                    ]
                },
                options: {
                    title: {
                        display: true,
                        position: 'left',
                        text: 'Deceased cases by date',
                        fontSize: 22,
                        fontColor: 'rgb(130, 117, 116)'
                    }
                }
            });

            var ctx_cumulative = document.getElementById('CumulativeChart').getContext('2d');
            var chart = new Chart(ctx_cumulative, {
                type: 'line',
                data: {
                    labels: {{ context['dates']|safe }},
                    datasets: [
                    {
                        label: 'Deceased',
                        borderColor: 'rgb(130, 117, 116)',
                        borderWidth: 1.5,
                        backgroundColor: 'rgba(130, 117, 116, 0.1)',
                        pointBorderWidth: 0.1,
                        data: {{ context['dataset']['Total Deceased']|safe }}
                    },
                    {
                        label: 'Active',
                        borderColor: 'rgb(219, 34, 18)',
                        borderWidth: 1.5,
                        backgroundColor: 'rgba(219, 34, 18, 0.1)',
                        pointBorderWidth: 0.1,
                        data: {{ context['dataset']['Total Active']|safe }}
                    },
                    {
                        label: 'Recovered',
                        borderColor: 'rgb(61, 130, 56)',
                        borderWidth: 1.5,
                        backgroundColor: 'rgba(61, 130, 56, 0.1)',
                        pointBorderWidth: 0.1,
                        data: {{ context['dataset']['Total Recovered']|safe }}
                    },
                    ]
                },
                options: {
                    title: {
                        display: true,
                        position: 'left',
                        text: 'Total Active, Recovered and Deceased cases by date',
                        fontSize: 22
                    }
                }
            });
        </script>

    {% endif %}

{% endblock %}
