

{% extends "base.html" %}

{% block content %}

    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/mapdata/countries/in/custom/in-all-disputed.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <div class="text-center">
        <h1 class="p-3 mb-2 bg-success text-white">India Recovery rate</h1>
    </div>

    <br>
    <div class="progress mx-md-3" style="height: 5%">
      <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {{ context['india_recovery'] }}%;" aria-valuenow="{{ context['india_recovery'] }}" aria-valuemin="0" aria-valuemax="100">Recovery {{ context['india_recovery'] }}%</div>
    </div>
    <br>

    <div id="barCharts">
        <br>
        <div class="card mx-md-3">
            <div class="card-header">Recovery Rate</div>
            <div class="card-body">
                <canvas id="RecoveryRateChart" height="100"></canvas>
            </div>
        </div>
        <br>
    </div>

    <div class="card mx-md-3">
        <div class="card-header">Recovery Rates by State </div>
        <div class="card-body">
            <div id="map"></div>
        </div>
    </div>
    <br>

    <script>
        var ctx_recovery_rate = document.getElementById('RecoveryRateChart').getContext('2d');
        var chart = new Chart(ctx_recovery_rate, {
            type: 'line',
            data: {
                labels: {{ context['dates']|safe }},
                datasets: [{
                    label: 'Recovery Rate Variation',
                    borderColor: 'rgb(61, 130, 56)',
                    borderWidth: 1.5,
                    backgroundColor: 'rgba(61, 130, 56, 0.2)',
                    pointBorderWidth: 0.1,
                    data: {{ context['recovery_rate_trend']|safe }}
                }
                ]
            },
            options: {
                title: {
                    display: true,
                    position: 'left',
                    text: 'Recovery Rate Variation',
                    fontSize: 22,
                    fontColor: 'rgb(61, 130, 56)'
                }
            }
        });

        Highcharts.mapChart('map', {
            chart: {
                map: 'countries/in/custom/in-all-disputed',
                height: 100 + '%',
            },

            title: {
                text: 'Recovery Rate by state'
            },

            responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        align: 'center',
                        verticalAlign: 'bottom',
                        layout: 'horizontal'
                    },
                    yAxis: {
                        labels: {
                            align: 'left',
                            x: 0,
                            y: -5
                        },
                        title: {
                            text: null
                        }
                    },
                    subtitle: {
                        text: null
                    },
                    credits: {
                        enabled: false
                    }
                }
            }]
        },

            mapNavigation: {
                enabled: false,
                buttonOptions: {
                    verticalAlign: 'bottom'
                }
            },

            colorAxis: {
                min: 0,
                minColor: '#ffffff',
                maxColor: '#00b300',
                stops: [
                    [0, '#ffffff'],
                    [0.5, '#e6ffe6'],
                    [0.8, '#99ff99'],
                    [0.85, '#4dff4d'],
                    [0.90, '#00ff00'],
                    [0.95, '#00cc00'],
                    [1, '#00b300']
                ]
            },

            series: [{
                data: {{ context['data']|safe }},
                name: 'Recovery Rate in %',
                states: {
                    hover: {
                        color: '#009900'
                    }
                },
                dataLabels: {
                    enabled: true,
                    format: '<a href="/{point.name}/">{point.name}</a>'
                }
            }]
        });

    </script>

{% endblock %}
