
<title>Vaccination Data - India</title>

{% extends "base.html" %}

{% block content %}

    <h1 class="p-3 mb-2 bg-success text-white text-center">Vaccination - India</h1>
    <h5 align="center">Data from <a href="https://github.com/owid/covid-19-data/blob/master/public/data/vaccinations/country_data/India.csv">Our World in Data</a></h5>

    <br>
    <div id="Charts">
        <div class="card mx-md-3">
            <div class="card-header">Cumulative Vaccination Data</div>
            <div class="card-body">
                <canvas id="VaccinationChart" height="150"></canvas>
            </div>
        </div>
        <br>
        <div class="card mx-md-3">
            <div class="card-header">Daily Vaccination Data</div>
            <div class="card-body">
                <canvas id="DailyVaccinationChart" height="150"></canvas>
            </div>
        </div>
        <br>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>
        var ctx_cumulative = document.getElementById('VaccinationChart').getContext('2d');
        var chart = new Chart(ctx_cumulative, {
            type: 'line',
            data: {
                labels: {{ context['dates']|safe }},
                datasets: [
                {
                    label: 'Fully Vaccinated Data',
                    borderColor: 'rgb(61, 130, 56)',
                    borderWidth: 2,
                    backgroundColor: 'rgba(0, 0, 0, 0)',
                    pointBorderWidth: 0.1,
                    data: {{ context['fully_vaccinated']|safe }}
                },
                {
                    label: 'Single Dose Data',
                    borderColor: 'rgb(255, 153, 0)',
                    borderWidth: 2,
                    backgroundColor: 'rgba(0, 0, 0, 0)',
                    pointBorderWidth: 0.1,
                    data: {{ context['cumulative_data']|safe }}
                }
                ]
            },
            options: {
                title: {
                    display: true,
                    position: 'left',
                    text: 'Cumulative Vaccination Data',
                    fontSize: 22,
                    fontColor: 'rgb(61, 130, 56)'
                },
                tooltips : {
                    mode : 'index',
                    callbacks: {
                        footer: function(tooltipItem) {
                            return {{ context['sources']|safe }}[tooltipItem[0].index]
                        }
                    }
                }
            }
        });

        var ctx_daily_chart = document.getElementById('DailyVaccinationChart').getContext('2d');
        var chart = new Chart(ctx_daily_chart, {
            type: 'bar',
            data: {
                labels: {{ context['dates']|safe }},
                datasets: [
                {
                    label: 'Daily Fully Vaccinated Data',
                    borderColor: 'rgb(61, 130, 56)',
                    borderWidth: 1.5,
                    backgroundColor: 'rgba(61, 130, 56, 0.7)',
                    data: {{ context['daily_fully_vaccinated']|safe }}
                },
                {
                    label: 'Daily First Dose Data',
                    borderColor: 'rgb(255, 153, 0)',
                    borderWidth: 1.5,
                    backgroundColor: 'rgba(255, 153, 0, 0.2)',
                    data: {{ context['daily_data']|safe }}
                }
                ]
            },
            options: {
                title: {
                    display: true,
                    position: 'left',
                    text: 'Daily Vaccination Data',
                    fontSize: 22,
                    fontColor: 'rgb(61, 130, 56)'
                },
                scales: {
                    xAxes: [{
                        stacked: true
                    }],
                    yAxes: [{
                        stacked: true
                    }]
                },
                tooltips : {
                    mode : 'index',
                    callbacks: {
                        footer: function(tooltipItem) {
                            return {{ context['sources']|safe }}[tooltipItem[0].index]
                        }
                    }
                }
            }
        });
    </script>


{% endblock %}
